html, body {
  height: 100%;
  font-family: 'Roman';
  background-color: rgb(43, 89, 97);
  color: rgb(221, 209, 209);
}
.weather-info {
  background-color: #4b9ca8;
  color: white;
  padding: 10px;
  margin-top: 10px; /* Adds space above the weather info */
}
.weather-info h2 {
  color: #c06c61;
}
.weather-info p {
  color: #d9d7e4;
  padding-bottom: -30px;
}


