html, body {
  height: 100%;
  font-family: 'Roman';
  background-color: rgb(43, 89, 97);
  color: rgb(221, 209, 209);
}
.weather-info {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 300px;
  color: white;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
}
.weather-info h2 {
  color: #1cce57;
  padding-top: 20px;
  margin: 0;
}
.weather-info p {
  color: #02ffea;
  margin: 0;
}


