html, body {
  height: 100%;
  font-family: 'Roman';
  background-color: rgb(43, 89, 97);
  color: rgb(221, 209, 209);
}
.weather-info {
  background-color: #464443;
  color: white;
}
.weather-info h2 {
  color: #c06c61;
}
.weather-info p {
  color: #d9d7e4;
}


